<div class="container">
  <div class="left">
    <div class="box shadow">
      <div class="title">Menu</div>
      <ul>
        <li *ngFor="let product of products">{{product.name}}
           <div>
              <span>${{product.price}}</span>
              <button (click)="addToOrderList(product.id)">Add</button>
           </div>
        </li>
      </ul>
   </div>
  </div>
  <div class="right">
      <div class="box shadow">
          <div class="title">Orders</div>
          <ul>
              <li *ngFor="let order of orders">{{order.name}}
                 <div>
                    <span>${{order.price}}</span>
                    <span>Qty:  {{order.count}}</span>
                    <button (click)="removeFromOrderList(order.id)">Remove</button>
                 </div>
              </li>
          </ul>
          <div class="title">Total: ${{total}}</div>          
      </div>
  </div>
</div>